# Database - please keep it before API because it is used in the DATABASE_URL
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=backend_service
POSTGRES_PUBLIC_PORT=5439 # Port on the host machine
POSTGRES_INTERNAL_PORT=5432 # Port on the container
POSTGRES_VOLUME=pgdata

# API
API_PUBLIC_PORT=8080 # Port on the host machine
API_INTERNAL_PORT=8080 # Port on the container
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_INTERNAL_PORT}/${POSTGRES_DB}?sslmode=disable # Database connection URL, in case do not run docker compose

# JWT
JWT_SECRET=secret
JWT_EXPIRATION_IN_MINUTES=15

# Environment
ENV=development
